@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");

body {
    background-color: #0c0c0c;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
}
header h1 {
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;   
    background-image: linear-gradient(teal, purple);
    border-radius: 5px;
    }

nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #1f1f1f;
    border-radius: 100px;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 100px;
}

nav a:hover {
    background-color: #ffffff;
    border-radius: 100px;
    color: #0c0c0c; 
    box-shadow: 0 4px 8px gold;}

main {
    padding: 40px;
    text-align: justify;
}

.topic,
.about {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 100px rgb(0, 234, 255);
}

h2 {
    color: #ff9900;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #cccccc;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #1f1f1f;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e68a00;
}

footer {
    background-color: #0c0c0c;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    color: #ffffff;
}
