<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Eating Disorders and Suicide</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="static/homepage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <div class="citation">
      <head>WORK CITED</head>
    </div>
    <br>
    <nav>
        <uli>
    <b>
        “A Mindful Eating Approach.” Recreational Services, July 27, 2023.
        https://recreation.gsu.edu/ 2023/07/27/mindful-eating/.
    </b>
      <br>
      <br>
      
    <b> 
        Beeler, Jeff A., and Nesha S. Burghardt. “The Rise and Fall of Dopamine:
        A Two-Stage Model of the Development and Entrenchment of Anorexia
        Nervosa.” Frontiers in Psychiatry 12 (2022): 799548–799548.
        https://doi.org/10.3389/fpsyt.2021.799548.
    </b>
      <br>
      <br>
      <b>
      
        Bonnevie-Rothrock, Helen. “What I want you to know about eating
        disorders and me.” By Alice Bonnevie-Rothrock.
      </b>
      <br>
      <br>
      <b>
        Gorrell S, Collins AGE, Le Grange D, Yang TT. Dopaminergic activity and
        exercise behavior in anorexia nervosa. OBM Neurobiol.
        2020;4(1):10.21926/obm.neurobiol.2001053. doi:
        10.21926/obm.neurobiol.2001053. Epub 2020 Mar 23. PMID: 33569542; PMCID:
        PMC7872149. https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7872149/
      </b>
      <br>
      <br>
      <b>
        Mehler, Philip S., Ashlie Watters, Thomas Joiner, and Mori J. Krantz.
        “What Accounts for the High Mortality of Anorexia Nervosa?” The
        International Journal of Eating Disorders 55, no. 5 (2022): 633–36.
        https://doi.org/10.1002/eat.23664.
      </b>
      <br>
      <br>
      <b>
        Pisetsky EM, Thornton LM, Lichtenstein P, Pedersen NL, Bulik CM. Suicide
        attempts in women with eating disorders. J Abnorm Psychol. 2013
        Nov;122(4):1042-56. doi: 10.1037/a0034902. PMID: 24364606; PMCID:
        PMC8023043. https://doi.org/10.1111/ sltb.12383.
      </b>
      <br>
      <br>
      <b>
        Quadflieg, Norbert, Christine Strobel, Silke Nbb, Ulrich Voderholzer,
        and Manfred M. Fichter. “Mortality in Males Treated for an Eating
        Disorder—A Large Prospective Study.” The International Journal of Eating
        Disorders 52, no. 12 (2019): 1365–69. https://doi.org/
        10.1002/eat.23135.
      </b>
      <br>
      <br>
      <b>
        Soullane, Safiya, Mimi Israel, Howard Steiger, Nicholas Chadi, Nancy
        Low, Ron Dewar, Aimina Ayoub, and Nathalie Auger. “Association of
        Hospitalization for Suicide Attempts in Adolescent Girls with Subsequent
        Hospitalization for Eating Disorders.” The International Journal of
        Eating Disorders, 2023. https://doi.org/10.1002/eat.24052.
      </b>
      <br>
      <br>
      <b>
        “Suicide Rates Are Higher in Eating Disorder Populations - Here’s What
        You Need to Know.” Equip Health,
        equip.health/articles/understanding-eds/suicide-and-eating-disorders.
        Accessed 13 Nov. 2023.
        https://equip.health/articles/understanding-eds/suicide-and-
        eating-disorders
      </b>
      <br>
      <br>
      <b>
        Thornton, L.M., Welch, E., Munn-Chernoff, M.A., Lichtenstein, P. and
        Bulik, C.M. (2016), Anorexia Nervosa, Major Depression, and Suicide
        Attempts: Shared Genetic Factors. Suicide Life Threat Behav, 46:
        525-534. https://doi.org/10.1111/sltb.12235.
      </b>
      <br>
      <br>
    </p>
</uli>
</nav>
</section>
<br>
<br>
<br>
<a class="citations" href="/"> Homepage</a>
<br>
<br>
<br>
  </body>
</html>
