<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eating Disorders and Suicide</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/eating_disorders.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <a class="button" href="/">Homepage</a>
    <header>
        <br>
        <div class="logo">
            <h1>Eating Disorders and Suicide</h1>
            <br>
            <br>
        </div>
    
    <nav>
        <ul>
            <a href="#about"><i class="fas fa-info-circle"></i> About</a>
            <a href="#combination"><i class="fas fa-link"></i> Eating Disorders and Suicide</a>
            <a href="#anorexia-suicide"><i class="fas fa-utensils"></i> Anorexia Nervosa as Self-Harm</a>
            <a href="#help"><i class="fas fa-hands-helping"></i> How to Support</a>
        </ul>
    </nav>
</header>
    <main>
        <section id="about" class= "about">
            <h2><i class="fas fa-info-circle"></i> About Eating Disorders and Suicide</h2>
            <p>Eating disorders and suicide can be interconnected, as individuals with eating disorders may face increased risk of suicidal thoughts and behaviors. Understanding this connection is crucial for effective intervention and support.</p>
        </section>
        <br>
        <section id="combination" class="topic">
            <h2><i class="fas fa-link"></i> The Combination of Eating Disorders and Suicide</h2>
            <p>Eating disorders, such as anorexia nervosa, bulimia nervosa, and binge eating disorder, can contribute to emotional distress and feelings of hopelessness, increasing the risk of suicide. It's essential to address both the eating disorder and the associated mental health challenges. 
                <br>
                <br>
                Anorexia nervosa, major depression, and suicide attempts are all genetically correlated. 90% of individuals who commit suicide are believed to suffer from psychiatric disorders. 
               
                Anorexia nervosa is among the highest of all psychiatric disorders and suicide is the leading cause of death, with individuals being 18 times more likely to die from suicide than the general population of females ages 15-34. 
                <br>
                <br>
                The interpersonal theory of suicide, which states that an individual “has to have both an increased fearlessness about death and an increased tolerance to pain in order to be capable of attempting suicide” may help explain how those with AN and MDD are able to bring themselves to such lengths. The repeated exposure to pain via food restriction coupled with a decreased pain tolerance likely explains the increased suicide attempts for such demographic. 
                <br>
                <br>
                Individuals with both an eating disorder and major depression disorder are also more likely to attempt suicide. 80% of people with AN who attempted suicide reported their worst attempt was during an episode of MDD. Through twin genetic research, studies show that many twins shared AN, MDD, and SA, implicating shared genetic factors. Unique environmental factors may not play a role in each disorder, rather they are trait specific.
            </p>
            <img src="https://cdn-icons-png.flaticon.com/512/8376/8376179.png" alt="Eating Disorders and Suicide Image" width="290" height="290">
        </section>
        <section id="combination" class="topic">
            <h2><i class="fas fa-link"></i> Body Image Issues Indirectly Lead to Suicidal Ideation</h2>
        <br>
            <p>Suicide is consistently identified as the 3rd ranking cause of death for young people. Disordered eating contributes to both suicidal ideation and depressive symptoms, but it does not outright cause suicidal ideation as previously thought. In a study done among students at a high school, adolescents who reported depressive symptoms went on to report suicidal ideation up to one year later. Additionally, females reported significantly higher levels of depression and suicidal ideation than males. Depressed females described their bodies as uglier, sicker, weaker, and more useless than females who were not depressed. 
                <br>
                <br>
                The process of dieting is often met with failure, as maintaining a strict diet is unsustainable long term. This failure, however, leads to depressive symptoms which in turn lead to suicidal ideation. Bulimia specifically has symptoms shown to lead to depression due to the shame and guilt associated with binging and purging. Between 15-40% of bulimic females have attempted suicide at least once, with anorexic females ranging from 3-29.7% in suicide attempts.  
                 </p>
                 <img src="https://onlinelibrary.wiley.com/cms/asset/bcd010e5-e84d-4f96-ae48-7248861f29af/sltb_58_f1.gif" alt="Body Image Issues INdirectly Lead to Suicidal Ideation" width="290" height="290">
            <h4> Figure 1. </h4>
            <h7> Conceptual model for the proposed relationships among possible risk factors.</h7>
            <br>
            <br>

        </section>
        <section id="anorexia-suicide" class="topic">
            <h2><i class="fas fa-utensils"></i> Who are the most susceptible ED patients?            </h2>
            <p> Adolescent girls are the most susceptible of all age and gender demographics to developing an eating disorder, most commonly Anorexia nervosa. AN is characterized by restrictive food intake in an attempt to become thinner and smaller. This desire to change one’s body is called ‘body dysmorphia’. Societal standards policing pre-teen and teenage girls are a leading cause of body dysmorphia; pressures to be as thin as possible make the majority of adolescent girls self-conscious and insecure. Anorexia nervosa is almost always coupled with Body dysmorphic disorder (BDD). Individuals suffering from AN take BDD a step further; they actively restrict caloric intake and take drastic measures to lose weight. 
<br>
<br>

                While Anorexia nervosa is more prevalent among adolescent females, males with AN are twice as likely to die by suicide than females with AN. Males with eating disorders suffer greater societal judgment–or perceive greater societal judgment–for seeking treatment. Pressures on males to be strong, unemotional, and private with their struggles may influence many to suffer in silence rather than reaching out for help.
                <br>
                <br>
                Anorexia nervosa has long held the highest mortality rate of any mental disorder. AN patients die at a shocking rate: nine times higher than age-matched controls. The majority of these deaths are by direct suicide, often coupled with substance abuse and overdose. The restrictive lifestyles of AN patients can also cause eventual organ failure, dehydration, or even cardiac arrest, all resulting from severe malnutrition. Some consider these deaths long-term suicide; depriving one’s body of essential nutrients can be a result of suicidal ideation or an attempt to die. However, others argue that suicide requires express desire to die, which not all AN patients experience. While all deaths by AN are, in a sense, suicide, exactly what separates AN direct suicides from other deaths is not yet known. 
            <br>
            <br>    
            </p>
            <ul>
                <li><i class="fas fa-clipboard-list"></i> Comprehensive therapy, such as Cognitive-Behavioral Therapy (CBT), to address both the eating disorder and underlying emotional issues.</li>
                <li><i class="fas fa-medkit"></i> Medical and nutritional support to address physical health concerns.</li>
                <li><i class="fas fa-users"></i> Involvement of mental health professionals, family, and friends for a supportive network.</li>
            </ul>
            <img src="https://cdn.pixabay.com/photo/2019/03/11/22/26/bulimia-4049661_1280.png" alt="Anorexia Nervosa as Self-Harm Image" width="300" height="395">
        </section>
        <br>
        <section id="help" class="topic">
            <h2><i class="fas fa-hands-helping"></i> How to Support</h2>
            <p>If you or someone you know is struggling with eating disorders and thoughts of suicide, here's how you can provide support:</p>
            <ul>
                <li><i class="fas fa-phone"></i> Encourage seeking professional help, including therapists, counselors, and medical professionals.</li>
                <li><i class="fas fa-comments"></i> Foster open communication and express empathy and understanding.</li>
                <li><i class="fas fa-hug"></i> Offer emotional support and encourage the individual to build a strong support network.</li>
            </ul>
            <img src="https://cdn4.iconfinder.com/data/icons/thank-you/256/Artboard_5_copy-512.png" alt="How to Support Image" width="300" height="300">
        </section>
        <br>
    </main>
    <footer>
        <p>&copy; 2023 Feraidon AbdulRahimzai</p>
    </footer>
</body>
</html>
