<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eating Disorders and Suicide</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/eating_disorders.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Eating Disorders and Suicide</h1>
        </div>
    <nav>
        <ul>
            <a href="#about"><i class="fas fa-info-circle"></i> About</a>
            <a href="#combination"><i class="fas fa-link"></i> Eating Disorders and Suicide</a>
            <a href="#anorexia-suicide"><i class="fas fa-utensils"></i> Anorexia Nervosa as Self-Harm</a>
            <a href="#help"><i class="fas fa-hands-helping"></i> How to Support</a>
        </ul>
    </nav>
</header>
    <main>
        <section id="about" class= "about">
            <h2><i class="fas fa-info-circle"></i> About Eating Disorders and Suicide</h2>
            <p>Eating disorders and suicide can be interconnected, as individuals with eating disorders may face increased risk of suicidal thoughts and behaviors. Understanding this connection is crucial for effective intervention and support.</p>
        </section>
        <br>
        <section id="combination" class="topic">
            <h2><i class="fas fa-link"></i> The Combination of Eating Disorders and Suicide</h2>
            <p>Eating disorders, such as anorexia nervosa, bulimia nervosa, and binge eating disorder, can contribute to emotional distress and feelings of hopelessness, increasing the risk of suicide. It's essential to address both the eating disorder and the associated mental health challenges. 
                <br>
                <br>
                Anorexia nervosa, major depression, and suicide attempts are all genetically correlated. 90% of individuals who commit suicide are believed to suffer from psychiatric disorders. 
               
                Anorexia nervosa is among the highest of all psychiatric disorders and suicide is the leading cause of death, with individuals being 18 times more likely to die from suicide than the general population of females ages 15-34. 
                <br>
                <br>
                The interpersonal theory of suicide, which states that an individual “has to have both an increased fearlessness about death and an increased tolerance to pain in order to be capable of attempting suicide” may help explain how those with AN and MDD are able to bring themselves to such lengths. The repeated exposure to pain via food restriction coupled with a decreased pain tolerance likely explains the increased suicide attempts for such demographic. 
                <br>
                <br>
                Individuals with both an eating disorder and major depression disorder are also more likely to attempt suicide. 80% of people with AN who attempted suicide reported their worst attempt was during an episode of MDD. Through twin genetic research, studies show that many twins shared AN, MDD, and SA, implicating shared genetic factors. Unique environmental factors may not play a role in each disorder, rather they are trait specific.
            </p>
            <img src="https://cdn-icons-png.flaticon.com/512/8376/8376179.png" alt="Eating Disorders and Suicide Image" width="290" height="290">
        </section>
        <section id="combination" class="topic">
            <h2><i class="fas fa-link"></i> Body Image Issues Indirectly Lead to Suicidal Ideation</h2>
        <br>
            <p>Suicide is consistently identified as the 3rd ranking cause of death for young people. Disordered eating contributes to both suicidal ideation and depressive symptoms, but it does not outright cause suicidal ideation as previously thought. In a study done among students at a high school, adolescents who reported depressive symptoms went on to report suicidal ideation up to one year later. Additionally, females reported significantly higher levels of depression and suicidal ideation than males. Depressed females described their bodies as uglier, sicker, weaker, and more useless than females who were not depressed. 
                <br>
                <br>
                The process of dieting is often met with failure, as maintaining a strict diet is unsustainable long term. This failure, however, leads to depressive symptoms which in turn lead to suicidal ideation. Bulimia specifically has symptoms shown to lead to depression due to the shame and guilt associated with binging and purging. Between 15-40% of bulimic females have attempted suicide at least once, with anorexic females ranging from 3-29.7% in suicide attempts.  
                 </p>
                 <img src="https://onlinelibrary.wiley.com/cms/asset/bcd010e5-e84d-4f96-ae48-7248861f29af/sltb_58_f1.gif" alt="Body Image Issues INdirectly Lead to Suicidal Ideation" width="290" height="290">
            <h4> Figure 1. </h4>
            <h7> Conceptual model for the proposed relationships among possible risk factors.</h7>
            <br>
            <br>

        </section>
        <section id="Combination" class="topic">
            <h2><i class="fas fa-utensils"></i> Who are the most susceptible ED patients? </h2>
            <p> Adolescent girls are the most susceptible of all age and gender demographics to developing an eating disorder, most commonly Anorexia nervosa. AN is characterized by restrictive food intake in an attempt to become thinner and smaller. This desire to change one’s body is called ‘body dysmorphia’. Societal standards policing pre-teen and teenage girls are a leading cause of body dysmorphia; pressures to be as thin as possible make the majority of adolescent girls self-conscious and insecure. Anorexia nervosa is almost always coupled with Body dysmorphic disorder (BDD). Individuals suffering from AN take BDD a step further; they actively restrict caloric intake and take drastic measures to lose weight. 
<br>
<br>
                While Anorexia nervosa is more prevalent among adolescent females, males with AN are twice as likely to die by suicide than females with AN. Males with eating disorders suffer greater societal judgment–or perceive greater societal judgment–for seeking treatment. Pressures on males to be strong, unemotional, and private with their struggles may influence many to suffer in silence rather than reaching out for help.
                <br>
                <br>
                <img src="https://onlinelibrary.wiley.com/cms/asset/f7767372-8b60-4670-8cd6-3213690a3320/eat23135-fig-0001-m.jpg"  alt="Cumulative incidence of hospitalization for eating disorders during 31 years of follow-up." width = "500" height ="400" </img>
                <h4> Figure 2 </h4>
                <h7> Long-term survival after onset of ED was shorter in males with AN compared to BN (χ2 = 7.31; p = .007) and ED-NOS (χ2 = 8.96; p = .003). BN and ED-NOS did not differ (χ2 = 0.001; p = .975).</h7>
       
                <br>
                <br>
               <p> Anorexia nervosa has long held the highest mortality rate of any mental disorder. AN patients die at a shocking rate: nine times higher than age-matched controls. The majority of these deaths are by direct suicide, often coupled with substance abuse and overdose. The restrictive lifestyles of AN patients can also cause eventual organ failure, dehydration, or even cardiac arrest, all resulting from severe malnutrition. Some consider these deaths long-term suicide; depriving one’s body of essential nutrients can be a result of suicidal ideation or an attempt to die. However, others argue that suicide requires express desire to die, which not all AN patients experience. While all deaths by AN are, in a sense, suicide, exactly what separates AN direct suicides from other deaths is not yet known. </p>
            <br>
            <br>    
            </p>
            <img src="https://onlinelibrary.wiley.com/cms/asset/6d5de5d6-d8fd-4db4-9a26-0a6095b7e98a/eat24052-fig-0001-m.jpg"  alt="Cumulative incidence of hospitalization for eating disorders during 31 years of follow-up." width = "900" height ="300" </img> 
            <br>
            <br>
            <img src="https://onlinelibrary.wiley.com/cms/asset/56ef0b45-5f4b-4600-b1f2-4de820e6cf0e/eat24052-fig-0002-m.jpg"  alt="Cumulative incidence of hospitalization for eating disorders during 31 years of follow-up." width = "900" height ="300" </img> 
            <h4> Figure 3, 4 </h4>
            <h7> Cumulative incidence of hospitalization for eating disorders during 31 years of follow-up. Cumulative incidence of hospitalization for (a) any eating disorder, (b) anorexia nervosa, (c) bulimia nervosa and other eating disorders per 10,000 adolescent girls with suicide attempt (solid line) and no attempt (dotted line).</h7>
        </section>
        <section id="combination" class ="topic">
            <h2> What pushes individuals with Anorexia nervosa to attempt suicide?</h2>
            <p> The interpersonal theory of suicide, which states that an individual “has to have both an increased fearlessness about death and an increased tolerance to pain in order to be capable of attempting suicide” may help explain how those with AN and MDD are able to bring themselves to such lengths. The repeated exposure to pain via food restriction coupled with a decreased pain tolerance likely explains the increased suicide attempts for such demographic. Individuals with both an eating disorder and major depression disorder are also more likely to attempt suicide. 80% of people with AN who attempted suicide reported their worst attempt was during an episode of MDD.  
<br>
<br>
                Suicide is consistently identified as the 3rd ranking cause of death for young people. Disordered eating contributes to both suicidal ideation and depressive symptoms, but it does not outright cause suicidal ideation as previously thought. In a study done among students at a high school, adolescents who reported depressive symptoms went on to report suicidal ideation up to one year later. Additionally, females reported significantly higher levels of depression and suicidal ideation than males. Depressed females described their bodies as uglier, sicker, weaker, and more useless than females who were not depressed. 
                <br>
                <br>
                The process of dieting is often met with failure, as maintaining a strict diet is unsustainable long term. This failure, however, leads to depressive symptoms which in turn lead to suicidal ideation. Bulimia specifically has symptoms shown to lead to depression due to the shame and guilt associated with binging and purging. Between 15-40% of bulimic females have attempted suicide at least once, with anorexic females ranging from 3-29.7% in suicide attempts. 
                <br>
                <br>    
            </p>
        <br>
        </section>
        <section id="combination" class ="topic">
            <h2> Why does Anorexia nervosa spiral?
            </h2>

            <p> Individuals with Anorexia nervosa practice disordered eating habits: restricting food groups, limiting overall caloric intake, and often taking extreme measures to compensate for eating. As these practices become more ingrained, they tend to spiral. Continued and worsening body dysmorphia convinces individuals with AN that they still need to lose weight, despite a dangerously low body mass index. As the brain and body become malnourished and dehydrated, mental health worsens, leading to more extreme body dysmorphia and, in some cases, episodes of Major Depression Disorder (MDD).
<br>
<br>
                One common theory for the cyclical nature of AN suggests that dopamine release is an essential element of the cycle. The initial restriction of calories gives an increase in dopamine; individuals feel that they are working toward their goals of losing weight and becoming thinner. The dopamine release motivates individuals to continue and intensify these habits in an effort to experience that release again.
<br>
<br>                
                With an increase of dopamine maintaining AN symptoms, individuals may partake in excessive exercise to control their weight. This excess exercise is also associated with poorer treatment outcome, worse disorder prognosis, and suicidal ideation. A different hypothesis theorizes that excess exercise related to AN derives from our bodily need to stay warm when consistently at a low weight. Under this lens, exercise may be out of an individual’s cognitive control. Among patients who report driven exercise, there is a negative correlation between increased activity and leptin levels. This could explain why individuals with AN are able to maintain problematic exercise behavior while restricting food intake. 
<br>
<br>               
                </p>
            </section>
        <section id="help" class="topic">
            <h2><i class="fas fa-hands-helping"></i> How to Support</h2>
            <p>If you or someone you know is struggling with eating disorders and thoughts of suicide, here's how you can provide support:</p>
            <ul>
                <li><i class="fas fa-phone"></i> Encourage seeking professional help, including therapists, counselors, and medical professionals.</li>
                <li><i class="fas fa-comments"></i> Foster open communication and express empathy and understanding.</li>
                <li><i class="fas fa-hug"></i> Offer emotional support and encourage the individual to build a strong support network.</li>
            </ul>
            <img src="https://cdn4.iconfinder.com/data/icons/thank-you/256/Artboard_5_copy-512.png" alt="How to Support Image" width="300" height="300">
        </section>
        <br>
        <a class="button" href="/">Homepage</a>
    </main>
    <footer>
        <p>&copy; 2023 Feraidon AbdulRahimzai</p>
    </footer>
</body>
</html>