<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Eating Disorders in Psychology</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="static/eating_disorders.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>Eating Disorders</h1>
      </div>
      <nav>
        <ul>
          <a href="#about"><i class="fas fa-info-circle"></i> About</a>
          <a href="#bulimia"
            ><i class="fas fa-heartbeat"></i> Bulimia Nervosa</a
          >
          <a href="#anorexia"
            ><i class="fas fa-utensils"></i> Anorexia Nervosa</a
          >
          <a href="#bed"
            ><i class="fas fa-cookie-bite"></i> Binge Eating Disorder</a
          >
        </ul>
      </nav>
    </header>
    <main>
      <section id="about" class="about">
        <h2><i class="fas fa-info-circle"></i> About Eating Disorders</h2>
        <p>
          Eating disorders are complex mental health conditions that affect a
          person's relationship with food and their body. They can have serious
          physical and emotional consequences and often require professional
          help for recovery.
        </p>
      </section>
      <br />
      <section id="bed" class="topic">
        <h2><i class="fas fa-cookie-bite"></i> Binge Eating Disorder</h2>
        <p>
          Binge Eating Disorder is characterized by recurring episodes of
          consuming large amounts of food without control. It often leads to
          feelings of guilt, shame, and distress. It's the most common eating
          disorder in the United States.
        </p>
        <p>Solutions for Binge Eating Disorder typically include:</p>
        <ul>
          <li>
            <i class="fas fa-clipboard-list"></i> Therapy, such as CBT or
            Interpersonal Therapy (IPT), to address emotional triggers and
            develop a healthier relationship with food.
          </li>
          <li>
            <i class="fas fa-apple-alt"></i> Nutritional counseling to establish
            a balanced eating pattern.
          </li>
          <li>
            <i class="fas fa-users"></i> Support from mental health
            professionals and support groups.
          </li>
        </ul>
        <img
        src="https://png.pngtree.com/png-vector/20221221/ourmid/pngtree-over-eating-and-unhealthy-diet-concept-png-image_6531333.png"
        alt="Binge Eating Disorder Image" width ="300" height "150">
      </section>
      <br />
      <section id="bulimia" class="topic">
        <h2><i class="fas fa-heartbeat"></i> Bulimia Nervosa</h2>
        <p>
          Bulimia Nervosa involves recurring episodes of overeating followed by
          compensatory behaviors like vomiting or excessive exercise. This cycle
          of binge-eating and purging can have severe consequences on physical
          and mental health.
        </p>
        <p>Solutions for Bulimia Nervosa typically include:</p>
        <ul>
          <li>
            <i class="fas fa-clipboard-list"></i> Therapy, including CBT, to
            address the underlying issues and develop healthy coping strategies.
          </li>
          <li>
            <i class="fas fa-medkit"></i> Medical and nutritional support to
            address physical health concerns.
          </li>
          <li>
            <i class="fas fa-users"></i> Support groups and individual
            counseling for emotional support.
          </li>
        </ul>
        <img
        src="https://png.pngtree.com/png-vector/20230728/ourmid/pngtree-bulimia-clipart-sick-girl-with-food-and-cake-illustrations-cartoon-vector-png-image_6798428.png"
        alt="Bulimia Nervosa Image" width ="300" height "150">
      </section>
      <br />
      <section id="anorexia" class="topic">
        <h2><i class="fas fa-utensils"></i> Anorexia Nervosa</h2>
        <p>
          Anorexia Nervosa is characterized by an intense fear of gaining weight
          and a distorted body image. Individuals with anorexia may severely
          restrict their food intake, leading to extreme weight loss and
          malnutrition.
        </p>
        <p>Solutions for Anorexia Nervosa typically include:</p>
        <ul>
          <li>
            <i class="fas fa-medkit"></i> Medical and nutritional intervention
            to address physical health concerns.
          </li>
          <li>
            <i class="fas fa-clipboard-list"></i> Therapy, such as
            Cognitive-Behavioral Therapy (CBT), to address the psychological
            aspects.
          </li>
          <li>
            <i class="fas fa-users"></i> Support from healthcare professionals,
            family, and friends.
          </li>
        </ul>
        <img src="https://cdn-icons-png.flaticon.com/512/3588/3588358.png"
        alt="Anorexia Nervosa Image" width ="300" height "150">
      </section>
    </main>
    <a class="button" href="/">Homepage</a>
    <footer>
      <p>&copy; 2023 Feraidon AbdulRahimzai</p>
    </footer>
  </body>
</html>
