<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Suicide Prevention</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/eating_disorders.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <a class="button" href="/">Homepage</a>
        <div class="logo">
            <h1>Suicide Prevention</h1>
        </div>
    <nav>
        <ul>
            <a href="#about"><i class="fas fa-info-circle"></i> About</a>
            <a href="#causes"><i class="fas fa-question-circle"></i> Causes</a>
            <a href="#warning-signs"><i class="fas fa-exclamation-triangle"></i> Warning Signs</a>
            <a href="#help"><i class="fas fa-hands-helping"></i> How to Help</a>
        </ul>
    </nav>
</header>
    <main>
        <section id="about" class="about">
            <h2><i class="fas fa-info-circle"></i> About Suicide Prevention</h2>
            <p>Suicide prevention involves collective efforts to reduce the risk of suicide through awareness, education, and support. It aims to provide resources and assistance to individuals struggling with suicidal thoughts.</p>
        </section>
        <br>
        <section id="causes" class="topic" class ="topic">
            <h2><i class="fas fa-question-circle"></i> Causes of Suicide</h2>
            <p>Suicide can result from various complex factors, including:</p>
            <ul>
                <li><i class="fas fa-sad-tear"></i> Mental health disorders, such as depression and anxiety.</li>
                <li><i class="fas fa-heart-broken"></i> Relationship problems or social isolation.</li>
                <li><i class="fas fa-briefcase-medical"></i> Substance abuse and addiction.</li>
                <li><i class="fas fa-bullseye"></i> Academic or work-related stress and pressure.</li>
            </ul>
            <img src="https://cdn-icons-png.flaticon.com/512/5001/5001730.png" alt="Causes of Suicide Image" width="300" height="275">
        </section>
        <br>
        <section id="warning-signs" class="topic">
            <h2><i class="fas fa-exclamation-triangle"></i> Warning Signs</h2>
            <p>Recognizing the warning signs of suicide is crucial. These may include:</p>
            <ul>
                <li><i class="fas fa-user"></i> Expressing thoughts of hopelessness or feeling trapped.</li>
                <li><i class="fas fa-mood-sad"></i> Drastic mood swings or extreme emotional distress.</li>
                <li><i class="fas fa-user-friends"></i> Withdrawing from friends, family, and activities.</li>
                <li><i class="fas fa-pills"></i> Increased use of alcohol or drugs.</li>
            </ul>
            <img src="https://static.vecteezy.com/system/resources/previews/009/663/747/non_2x/warning-icon-transparent-free-png.png" alt="Warning Signs Image" width="300" height="275">
        </section>
        <br>
        <section id="help" class="topic">
            <h2><i class="fas fa-hands-helping"></i> How to Help</h2>
            <p>If you or someone you know is struggling, here's how you can help:</p>
            <ul>
                <li><i class="fas fa-phone"></i> Call a helpline or emergency services immediately.</li>
                <li><i class="fas fa-comments"></i> Encourage open communication and express your concern.</li>
                <li><i class="fas fa-user-md"></i> Seek professional help from mental health professionals.</li>
                <li><i class="fas fa-hug"></i> Provide emotional support and reassurance.</li>
            </ul>
            <img src="https://static.vecteezy.com/system/resources/previews/009/337/385/non_2x/donate-and-charity-flat-color-icon-helping-hand-love-free-png.png" alt="How to Help Image" width="300" height="275">
        </section>
        <br>
    </main>
    <footer>
        <p>&copy; 2023 Feraidon AbdulRahimzai</p>
    </footer>
</body>
</html>
